In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/World_War_I_casualties')

In [5]:
ww1_df = df[0]

In [19]:
ww1_df.head(20)

,Nation,Population (millions),Combat deaths and missing in action (included in total military deaths),Total military deaths (from all causes),Civilian deaths due to military action and crimes against humanity,Civilian deaths due to increased wartime malnutrition and disease (excluding Influenza pandemic),Total deaths,Deaths as % of population,Military wounded
,Allied Powers,Allied Powers,Allied Powers,Allied Powers,Allied Powers,Allied Powers,Allied Powers,Allied Powers,Allied Powers
0,Australia a,5.0,"61,527[17]","59,330[18]to 62,149[9]",NaN,NaN,"59,330to 62,149",1.19% to 1.24%,"152,171[19]"
1,Canada d,7.2,"56,638[20]","56,639[19] to 64,996[9]","1,963[21][22]",NaN,"58,639 to 66,996",0.81% to 0.93%,"149,732[19]"
2,India j,315.1,"64,449[19]","64,449[19] to 73,895[9]",107[23][24][25][26],NaN,"64,556 to 74,002",0.02% to 0.02%,"69,214[19]"
3,New Zealand o,1.1,"18,166[27]","16,711[19] to 18,060[9]",NaN,NaN,"16,711 to 18,060",1.52% to 1.64%,"41,317[19]"
4,Newfoundland p,0.2,"1,204[19]","1,204[19] to 1,570[28](included with UK)",NaN,NaN,"1,204to 1,570",0.6% to 0.79%,"2,314[19]"
5,South Africa v,6.0,"7,121[19]","7,121[19] to 9,726[9]",NaN,NaN,"7,121 to 9,726",0.12% to 0.16%,"12,029[19]"
6,United Kingdom(and Colonies) w,45.4,"744,000s1","744,000s1 to 887,858[9]","2,247[19][29][30]","109,000[31]","855,247 to 999,105",1.88% to 2.2%,"1,675,000s1"
7,British Empire Sub-total,380.0,953104,"949,454 to 1,118,359",4317,109000,"1,064,810to 1,231,676",0.28% to 0.32%,2101077
8,Belgium b,7.4,"38,170[19]","38,170[19]to 58,637[32]","23,700[33]","62,000[34]","123,870to 144,337",1.67% to 1.95%,"44,686[35]"
9,Brazil c,24.2,NaN,156[36],3[37],NaN,159,0%,—
10,China e,442.0,NaN,See footnote,103[38][39],NaN,103,0%,—
11,Cuba f,2.5,NaN,NaN,6[40],NaN,6,0%,—
12,France g,39.6,"1,150,000[41][42]","1,357,000[43]to 1,397,800[44]","40,000[16][45][46]","300,000[34]","1,697,000to 1,737,800",4.29% to 4.39%,"4,266,000[35]"
13,Greece h,4.8,"5,000[47]","5,000[47] to 26,000[48]",NaN,"150,000[49]","155,000 to 176,000",3.23% to 3.67%,"21,000[35]"
14,Haiti i,2.4,NaN,NaN,8[50],NaN,8,0%,—
15,Italy k,35.6,"460,000[19]","460,000[19] to 651,000[51]","3,400[52]","589,000[53]","1,052,400 to 1,243,400",2.96% to 3.49%,"947,000[35]"
16,Japan l,53.6,300[35],"300[35] to 4,850[54]",NaN,NaN,"300 to 4,850",0% to 0.01%,907[35]
17,Liberia m,0.7,NaN,NaN,4[55],NaN,4,0%,—
18,Montenegro n,0.5,"3,000[35]","3,000[35] to 13,325[56](included with Serbia)",NaN,See footnote,"3,000 to 13,325",0.6% to 2.67%,"10,000[35]"
19,Portugal q,6.0,"12,862[19]","12,862[19]",13[57],"82,000[58]",94875,1.58%,"13,751[19]"